:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(21, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */

  /* grey used for paragraphs */

  --clr-white: #fff;
  --clr-black: #222;

  --clr-grey-0: #fafafa;
  --clr-grey-1: #f5f5f5;
  --clr-grey-2: #eeeeee;
  --clr-grey-3: #e0e0e0;
  --clr-grey-4: #bdbdbd;
  --clr-grey-5: #9e9e9e;
  --clr-grey-6: #757577;
  --clr-grey-7: #616161;
  --clr-grey-8: #424242;
  --clr-grey-9: #212121;

  /* $brown-0: #efebe9; */
  --clr-brown-0: #f8f7f6;
  --clr-brown-1: #d7ccc8;
  --clr-brown-2: #bcaaa4;
  --clr-brown-3: #a1887f;
  --clr-brown-4: #8d6e63;
  --clr-brown-5: #795548;
  --clr-brown-6: #6d4c41;
  --clr-brown-7: #5d4037;
  --clr-brown-8: #4e342e;
  --clr-brown-9: #3e2723;

  --clr-green-0: #e8f5e9;
  --clr-green-1: #c8e6c9;
  --clr-green-2: #a5d6a7;
  --clr-green-3: #81c784;
  --clr-green-4: #66bb6a;
  --clr-green-5: #4caf50;
  --clr-green-6: #43a047;
  --clr-green-7: #388e3c;
  --clr-green-8: #2e7d32;
  --clr-green-9: #1b5e20;

  --clr-orange-0: #fbe9e7;
  --clr-orange-1: #ffccbc;
  --clr-orange-2: #ffab91;
  --clr-orange-3: #ff8a65;
  --clr-orange-4: #ff7043;
  --clr-orange-5: #ff5722;
  --clr-orange-6: #f4511e;
  --clr-orange-7: #e64a19;
  --clr-orange-8: #d84315;
  --clr-orange-9: #bf360c;

  --clr-yellow-0: #fff8e1;
  --clr-yellow-1: #ffecb3;
  --clr-yellow-2: #ffe082;
  --clr-yellow-3: #ffd54f;
  --clr-yellow-4: #ffca28;
  --clr-yellow-5: #ffc107;
  --clr-yellow-6: #ffb300;
  --clr-yellow-7: #ffa000;
  --clr-yellow-8: #ff8f00;
  --clr-yellow-9: #ff6f00;

  --clr-blue-0: #e3f2fd;
  --clr-blue-1: #bbdefb;
  --clr-blue-2: #90caf9;
  --clr-blue-3: #64b5f6;
  --clr-blue-4: #42a5f5;
  --clr-blue-5: #2196f3;
  --clr-blue-6: #1e88e5;
  --clr-blue-7: #1976d2;
  --clr-blue-8: #1565c0;
  --clr-blue-9: #0d47a1;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
  line-height: 1.5;
  font-size: 0.875rem;
  position: relative;
  /* overflow-y: hidden; */
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 400;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1rem;
}
body {
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
}

.img {
  width: 100%;
  display: block;
}

/*
=============== 
Animation
===============
*/

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*
=============== 
Body
===============
*/

.visitar {
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
  animation: show 1.5s ease-in-out 1;
  display: block;
  align-items: center;
  background-color: transparent;
  border: solid var(--clr-blue-7) 1px;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: Montserrat;
  font-weight: 500;
  color: var(--clr-blue-7);
  margin-right: 2rem;
}

.links {
  display: flex;
  align-items: center;
}

/*
=============== 
Navegação / Contato
===============
*/

.contato {
  background-color: var(--clr-blue-5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.contato__lista {
  display: flex;
  /*   border: 1px solid white; */
  padding: 1rem;
  width: 20rem;
  justify-content: space-around;
  transition: all 0.3s;
}
.social__icon {
  color: var(--clr-white);
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  animation: show 1.5s ease-in-out 1;
}
.social__icon:hover {
  color: var(--clr-blue-2);
  transform: translate(0px, -2px);
}
.github {
  color: var(--clr-blue-7);
  font-size: 1.8rem;
}

/*
=============== 
Parte Principal
===============
*/

main {
  /* height: 94vh; */
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    #d7e9fb,
    #d0e7f1,
    #cee3e6,
    #d0dfdc,
    #d2dad5,
    #d1d7d3,
    #d0d5d2,
    #cfd2d0,
    #cdd1d0,
    #ccd0d0,
    #cbced0,
    #cacdcf
  );
}
.header {
  padding: 3rem 0 1rem 0;
}
.header__h1 {
  font-family: Montserrat;
  font-weight: 700;
  color: var(--clr-grey-9);
  font-size: 4rem;
  animation: show 1.5s ease-in-out 1;
}
.header__h2 {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  color: var(--clr-blue-7);
  font-size: 1.3rem;
  margin-bottom: 2rem;
  animation: show 1.5s ease-in-out 1;
}

.header__button {
  display: flex;
  align-items: center;
  margin: 3rem auto;
  background-color: var(--clr-grey-3);
  border: solid var(--clr-grey-2) 1px;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: Montserrat;
  font-weight: 700;
  color: var(--clr-blue-7);
  font-size: 1rem;
  animation: show 1.5s ease-in-out 1;
}
.header__button:hover {
  opacity: 90%;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(161, 162, 163, 0.444);
}

/*
=============== 
Informações
===============
*/
.experiencia {
  margin: 1.2rem auto 0 auto;
}

.experiencia_h3 {
  color: var(--clr-blue-7);
  font-size: 1.7rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  animation: show 1.5s ease-in-out 1;
}

.experiencia_li {
  padding: 2rem 1rem;
  border-bottom: var(--clr-grey-2) 1px solid;
  color: #555;
  font-size: 1.2rem;
}
.ultimo_li {
  border-bottom: none;
}

li strong {
  font-weight: bold;
}
.experiencia_li:hover {
  background-color: var(--clr-blue-1);
  box-shadow: 0 5px 10px rgba(161, 162, 163, 0.444);
}

/*
=============== 
Projetos
===============
*/

.projetos {
  margin: 6rem auto 0 auto;
  /* width: 80%; */
  transition: all 0.3s ease-in-out;
  animation: show 1.5s ease-in-out 1;
}
.projetos_div,
.experiencia_ul {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.projetos_h3 {
  color: var(--clr-blue-7);
  font-size: 2rem;
  font-weight: 600;
}
.projetos_li {
  list-style-type: none;
  border: var(--clr-grey-3) 0.5px solid;
  /* border-left: var(--clr-grey-2) 1px solid;
  border-right: var(--clr-grey-2) 1px solid; */
  /*  border-radius: 20px; */
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  /* margin: 1rem 1rem; */
  align-items: center;
  /*  box-shadow: 0 5px 10px rgba(161, 162, 163, 0.444); */
}
.projetos_li:hover {
  background-color: var(--clr-blue-1);
}
.projetos_titulo {
  font-size: 1.5rem;
}
.projetos_p {
  font-size: 1.2rem;
  color: var(--clr-grey-7);
}
.primeiro_li {
  border-top: var(--clr-grey-2) 1px solid;
}
/*
=============== 
Footer
===============
*/

footer {
  height: 3rem;
  background-color: var(--clr-blue-5);
  width: 100%;
}
